<!doctype html>
<html lang="pt-br">

	<head>
		<meta charset="utf-8">

		<title>Mais poder ao HTML com AngularJS</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/angular.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h2>Web apps com AngularJS</h2>
					<h4>Mais poder ao HTML com AngularJS</h4>
					<p>
						<small><a href="http://github.com/guiseek">@Gui Seek</a></small>
					</p>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>HTML</h2>
						<p>
							HyperText Markup Language
						</p>
					</section>

					<section>
						<h2>Tags</h2>
						<ul>
							<li>
								Palavras entre parênteses <i>angulares</i>
							</li>
							<li>
								Marcação semântica
							</li>
							<li>
								Hierarquia de elementos
							</li>
							<li>
								Atributos e valores
							</li>
						</ul>
					</section>

					<section>
						<h2>Exemplo</h2>
<pre><code class="html" data-trim>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;meta charset=&quot;utf-8&quot;&gt;
		&lt;title&gt;&lt;/title&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;header&gt;&lt;/header&gt;
		&lt;nav&gt;&lt;/nav&gt;
		&lt;main&gt;
			&lt;section&gt;
				&lt;article&gt;&lt;/article&gt;
			&lt;/section&gt;
			&lt;aside&gt;
			&lt;/aside&gt;
		&lt;/main&gt;
	&lt;/body&gt;
&lt;/html&gt;
</code></pre>
					</section>

					<section>
						<h2>Micro dados</h2>
						<p>
							Permite a representação de dados HTML de forma mais semântica.
						</p>
					</section>

					<section>
						<h2>Exemplo sem semântica</h2>
<pre><code class="html" data-trim>
&lt;div&gt;
	&lt;div&gt;07/11/2015&lt;/div&gt;
	&lt;div&gt;MeetUP DevParaná&lt;/div&gt;
	&lt;div&gt;
		&lt;span&gt;FCV&lt;/span&gt;
		&lt;div&gt;
			&lt;span&gt;Avenida Horácio Raccanello Filho, 5950&lt;/span&gt;
			&lt;span&gt;Maringá&lt;/span&gt;
			&lt;span&gt;Paraná&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
					</section>

					<section>
						<h2>Exemplo com semântica</h2>
<pre><code class="html" data-trim>
&lt;div itemscope itemtype="http://schema.org/Event"&gt;
	&lt;div itemprop="startDate" content="2015-11-07T14:00"&gt;07/11/2015 14:00&lt;/div&gt;
	&lt;div itemprop="name"&gt;MeetUP DevParaná&lt;/div&gt;
	&lt;div itemprop="location" itemscope itemtype="http://schema.org/Place"&gt;
		&lt;span itemprop="name"&gt;FCV&lt;/span&gt;
		&lt;div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"&gt;
			&lt;span itemprop="streetAddress"&gt;Avenida Horácio Raccanello Filho, 5950&lt;/span&gt;
			&lt;span itemprop="addressLocality"&gt;Maringá&lt;/span&gt;
			&lt;span itemprop="addressRegion"&gt;Paraná&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
					</section>

					<section>
						<h2>Web Components</h2>
						<ul>
							<li>
								Templates
							</li>
							<li>
								Decorators
							</li>
							<li>
								Custom Elements
							</li>
							<li>
								Shadow DOM
							</li>
							<li>
								Imports
							</li>
						</ul>
						<aside class="notes">
							<ul>
								<li>
									Templates <br>
									<small>Designers na view (HTML e CSS) e engenheiros na lógica e integração com backend.</small>
								</li>
								<li>
									Decorators <br>
									<small>Comportamento individual, estático ou visual, sem afetar comportamentos de outros elementos.</small>
								</li>
								<li>
									Custom Elements <br>
									<small>Nomes e scripts criados pelo desenvolvedor.</small>
								</li>
								<li>
									Shadow DOM <br>
									<small>Parte do código encapsulada e escondida pelo browser</small>
								</li>
								<li>
									Imports <br>
									<small>Custom elements empacotados e lidos como um recurso.</small>
								</li>
							</ul>
						</aside>
					</section>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>AngularJS</h2>
						<p>
							HTML aprimorado para aplicativos da web!
						</p>
					</section>

					<section>
						<h2>Por quê AngularJS?</h2>
						<p>
							HTML é ótimo para declarar documentos estáticos, mas vacila quando tentamos usá-lo para declarar visualizações dinâmicas em aplicações web.
							AngularJS permite estender elementos HTML para a sua aplicação.
							O resultado é expressivo, legível e rápido para se desenvolver.
						</p>
					</section>

					<section>
						<h2>Frameworks MV*</h2>
						<table>
							<tbody>
								<tr>
									<td>Backbone.js</td>
									<td>Ember.js</td>
								</tr>
								<tr>
									<td>Knockout.js</td>
									<td>Angular.js</td>
								</tr>
								<tr>
									<td>Cappuccino</td>
									<td>JavaScript MVC</td>
								</tr>
								<tr>
									<td>Meteor</td>
									<td>Spice.js</td>
								</tr>
								<tr>
									<td>Riot.js</td>
									<td>CanJS</td>
								</tr>
							</tbody>
						</table>
					</section>

					<section>
						<h2>JavaScript The Right Way</h2>
						<h4>Criado pelo Google, Angular.js é como um polyfill para o futuro do HTML.</h4>
						<img src="img/JStherightway-angularjs.png" alt="" />
						<p>Não fui eu quem disse.</p>
					</section>

					<section>
						<h2>Características do AngularJS</h2>
						<h5>SPA (Single Page Applications)</h5>
						<p>
							Aplicações inteiramente contidas no browser que não precisam fazer requisições de novas páginas no servidor.
						</p>
					</section>

					<section>
						<h2>Características do AngularJS</h2>
						<ul>
							<li>
								Separação de responsabilidades
								<ul>
									<li><i>Controllers</i></li>
									<li><i>Services</i></li>
									<li><i>Factories</i></li>
									<li><i>Directives</i></li>
									<li><i>Providers</i></li>
								</ul>
							</li>
							<li>Estrutura MVC ou MVW<i>hatever</i></li>
							<li>Injeção de dependências (<i>Dependency Injection</i>)</li>
							<li>Ligação de dados (<i>Data Binding</i>)</li>
							<li>Rotas</li>
						</ul>
					</section>

					<section>
						<h2>Modularização com AngularJS</h2>
						<p>
							Criação de módulos reutilizáveis ficou fácil.
						</p>
						<p>
							Por consequência disso, atualmente com uma busca no <i>NPM</i> por <i>angular</i> retornam em <i>4.323</i> resultados e no <i>bower</i> <i>6.043</i>.
						</p>
					</section>

					<section>
						<h2>Exemplo de app simples</h2>
<pre><code class="html" data-trim>
&lt;!doctype html&gt;
&lt;html ng-app&gt;
 &lt;head&gt;
  &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js&quot;&gt;&lt;/script&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;div&gt;
   &lt;label&gt;Nome:&lt;/label&gt;
   &lt;input type=&quot;text&quot; ng-model=&quot;seuNome&quot; placeholder=&quot;Seu nome&quot;&gt;
   &lt;hr&gt;
   &lt;h1&gt;Olá {{seuNome}}!&lt;/h1&gt;
  &lt;/div&gt;
 &lt;/body&gt;
&lt;/html&gt;
</code></pre>
					</section>

					<section>
						<h2>Dando poder ao HTML com diretivas do AngularJS</h2>
<pre><code class="html" data-trim>
&lt;div ng-controller=&quot;UsuarioCtrl as ctrl&quot;&gt;
 &lt;form ng-submit="ctrl.submit()" name="usuarioForm" novalidate&gt;
  &lt;div&gt;
   &lt;label&gt;Usuário&lt;label&gt;
   &lt;input type="text" name="usuario" ng-model="ctrl.usuario" ng-minlength="5" ng-maxlength="10" required&gt;
   &lt;div ng-show="usuarioForm.$submitted || usuarioForm.usuario.$touched"&gt;
    &lt;div ng-show="usuarioForm.usuario.$error.required"&gt;Preencha seu nome.&lt;/div&gt;
    &lt;div ng-show="usuarioForm.usuario.$error.minlength"&gt;Deve ter mais de 5 caracteres.&lt;/div&gt;
    &lt;div ng-show="usuarioForm.usuario.$error.maxlength"&gt;Deve ter menos de 10 caracteres.&lt;/div&gt;
   &lt;/div&gt;
  &lt;div&gt;
  &lt;div&gt;
   &lt;button type="submit" ng-disabled="usuarioForm.$invalid"&gt;Salvar&lt;/button&gt;
  &lt;/div&gt;
 &lt;/form&gt;
&lt;/div&gt;
</code></pre>
					</section>

					<section>
						<h2>Diretivas</h2>
						<p>
							Como o AngularJS lida com manipulação do DOM e renderiza UI/Componentes reutilizáveis.
						</p>
						<p>
							Desde trechos HTML simples até componentes complexos com comportamentos específicos definidos pelo desenvolvedor.
						</p>
					</section>

					<section>
						<h2>Criando uma diretiva</h2>
						<ul>
							<li>Modulo</li>
							<li>Diretiva</li>
							<li>Template</li>
						</ul>
					</section>

					<section>
						<h2>Código do modulo</h2>
<pre><code class="javascript" data-trim>
(function() {
  'use strict';

  angular
    .module('gsTable', []);
})();
</code></pre>
					</section>

					<section>
						<h2>Código da diretiva</h2>
<pre><code class="javascript" data-trim>
(function() {
  'use strict';

  angular
    .module('gsTable')
    .directive('gsTable', tableDirective);

  function tableDirective() {
    var directive = {
      link: link,
      templateUrl: 'components/table/templates/table.html',
      restrict: 'EA'
    };
    return directive;

    function link(scope, element, attrs) {
      if (!attrs.columns) throw 'Columns não informadas.';
      scope.columns = attrs.columns.split(',');
    }
  }
})();
</code></pre>
					</section>

					<section>
						<h2>Código do template</h2>
<pre><code class="html" data-trim>
&lt;table&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th ng-if=&quot;columns&quot; ng-repeat=&quot;colum in columns&quot; ng-bind=&quot;colum&quot;&gt;&lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
 &lt;tbody&gt;
  &lt;tr ng-if=&quot;content.length > 0&quot; ng-repeat=&quot;rows in content&quot;&gt;
   &lt;td ng-repeat=&quot;value in rows&quot; ng-bind=&quot;value&quot;&gt;&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr ng-if=&quot;content.length == 0&quot;&gt;
   &lt;td cols=&quot;{{columns.length}}&quot;&gt;Nenhum registro&lt;/td&gt;
  &lt;/tr&gt;
 &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
					</section>

					<section>
						<h2>Usando a diretiva</h2>
						<ul>
							<li>App module</li>
							<li>Main controller</li>
							<li>Index html</li>
						</ul>
					</section>

					<section>
						<h2>Código do modulo</h2>
<pre><code class="javascript" data-trim>
(function() {
  'use strict';

  angular
    .module('app', ['gsTable']);

})();
</code></pre>
					</section>

					<section>
						<h2>Código do controller</h2>
<pre><code class="javascript" data-trim>
(function() {
  angular.module('app')
    .controller('MainCtrl', MainCtrl);

  function MainCtrl($scope, $http) {
    $http.get('data.json').then(function(response) {
      $scope.content = response.data.content;
    }, function(error) {
      console.error(error);
    });
  }
})();
</code></pre>
					</section>

					<section>
						<h2>Código do html</h2>
<pre><code class="html" data-trim>
&lt;!DOCTYPE html&gt;
&lt;html ng-app=&quot;app&quot;&gt;
 &lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Mais poder ao HTML com AngularJS&lt;/title&gt;
  &lt;script src=&quot;public/lib/angular/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;components/table/module.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;components/table/directive/table.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
  &lt;script src=&quot;controller.js&quot;&gt;&lt;/script&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;main ng-controller=&quot;MainCtrl as ctrl&quot;&gt;
   &lt;gs-table&gt;&lt;/gs-table&gt;
  &lt;/main&gt;
 &lt;/body&gt;
&lt;/html&gt;
</code></pre>
					</section>

					<section>
						<h3>Isso é possível somente com AngularJS?</h3>
					</section>

					<section>
						<h1>Não!</h1>
						<ul>
							<li>
								Web Components <br />
								<small>http://webcomponents.org/</small>
							</li>
							<li>
								Polymer <br />
								<small>https://www.polymer-project.org/1.0/</small>
							</li>
						</ul>
					</section>

					<section>
						<h2>Ok, ok, mas quem está usando?</h2>
					</section>

					<section>
						<h2>Google</h2>
						<img src="img/google-web-components.png" alt="" />
					</section>

					<section>
						<h2>Google map component</h2>
						<img src="img/google-map-component.png" alt="" />
					</section>

					<section>
						<h2>Conclusão</h2>
						<p>
							O HTML (em parceria com JavaScript) está ficando poderoso para criação de aplicações fazendo uso de componentes reutilizáveis.
						</p>
						<p>
							Usem e escrevam seus custom elements! : )
						</p>
					</section>

				</section>

				<section style="text-align: left;">
					<h1>Valeu!</h1>
					<p>
						- <a href="https://github.com/guiseek/">Meu GitHub</a> <br>
						- <a href="http://guiseek.js.org/">Sobre minha carreira</a>
					</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
